In [85]:
from bs4 import BeautifulSoup
import requests,openpyxl

In [95]:
#xport data using excel
excel= openpyxl.Workbook()
sheet=excel.active
sheet.title='Movie'
sheet.append(['rank','movie_name','movie_rating','year'])

try:
    url=requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
    soup = BeautifulSoup(url.text,'html.parser')
    movies = soup.find("tbody",class_="lister-list").find_all('tr')
    
    for movie in movies:
        rank = movie.find('td',class_='titleColumn').get_text().split('.')[0].strip()
        movie_name = movie.find('td',class_='titleColumn').a.text
        movie_rating = movie.find('td',class_='ratingColumn').strong.text
        year = movie.find('td',class_='titleColumn').span.text.replace('(',' ')
        #print(rank,movie_name,movie_rating,year.replace(')',' '))
        print(rank,movie_name,movie_rating,year.replace('(',' '))
        year=year.replace('(',' ')
        sheet.append([rank,movie_name,movie_rating,year])

        
except Exception as e:
    print(e)
    
excel.save('movies.xls')

1 The Shawshank Redemption 9.2  1994)
2 The Godfather 9.2  1972)
3 The Dark Knight 9.0  2008)
4 The Godfather Part II 9.0  1974)
5 12 Angry Men 9.0  1957)
6 Schindler's List 8.9  1993)
7 The Lord of the Rings: The Return of the King 8.9  2003)
8 Pulp Fiction 8.8  1994)
9 The Lord of the Rings: The Fellowship of the Ring 8.8  2001)
10 Il buono, il brutto, il cattivo 8.8  1966)
11 Forrest Gump 8.8  1994)
12 Spider-Man: Across the Spider-Verse 8.8  2023)
13 Fight Club 8.7  1999)
14 The Lord of the Rings: The Two Towers 8.7  2002)
15 Inception 8.7  2010)
16 Star Wars: Episode V - The Empire Strikes Back 8.7  1980)
17 The Matrix 8.7  1999)
18 GoodFellas 8.7  1990)
19 One Flew Over the Cuckoo's Nest 8.6  1975)
20 Se7en 8.6  1995)
21 It's a Wonderful Life 8.6  1946)
22 Shichinin no samurai 8.6  1954)
23 The Silence of the Lambs 8.6  1991)
24 Saving Private Ryan 8.6  1998)
25 Cidade de Deus 8.6  2002)
26 Interstellar 8.6  2014)
27 La vita è bella 8.6  1997)
28 The Green Mile 8.6  1999)
29 Star Wars 8.5  1977)
30 Terminator 2: Judgment Day 8.5  1991)
31 Back to the Future 8.5  1985)
32 Sen to Chihiro no kamikakushi 8.5  2001)
33 The Pianist 8.5  2002)
34 Psycho 8.5  1960)
35 Gisaengchung 8.5  2019)
36 Léon 8.5  1994)
37 The Lion King 8.5  1994)
38 Gladiator 8.5  2000)
39 American History X 8.5  1998)
40 The Departed 8.5  2006)
41 Whiplash 8.5  2014)
42 The Prestige 8.5  2006)
43 The Usual Suspects 8.5  1995)
44 Casablanca 8.5  1942)
45 Hotaru no haka 8.5  1988)
46 Seppuku 8.5  1962)
47 The Intouchables 8.5  2011)
48 Modern Times 8.4  1936)
49 Once Upon a Time in the West 8.4  1968)
50 Nuovo Cinema Paradiso 8.4  1988)
51 Rear Window 8.4  1954)
52 Alien 8.4  1979)
53 City Lights 8.4  1931)
54 Apocalypse Now 8.4  1979)
55 Memento 8.4  2000)
56 Django Unchained 8.4  2012)
57 Raiders of the Lost Ark 8.4  1981)
58 WALL·E 8.4  2008)
59 The Lives of Others 8.4  2006)
60 Sunset Blvd. 8.4  1950)
61 Paths of Glory 8.4  1957)
62 Avengers: Infinity War 8.4  2018)
63 The Shining 8.4  1980)
64 The Great Dictator 8.4  1940)
65 Witness for the Prosecution 8.4  1957)
66 Spider-Man: Into the Spider-Verse 8.4  2018)
67 Aliens 8.3  1986)
68 American Beauty 8.3  1999)
69 The Dark Knight Rises 8.3  2012)
70 Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb 8.3  1964)
71 Inglourious Basterds 8.3  2009)
72 Oldeuboi 8.3  2003)
73 Coco 8.3  2017)
74 Amadeus 8.3  1984)
75 Toy Story 8.3  1995)
76 Braveheart 8.3  1995)
77 Das Boot 8.3  1981)
78 Joker 8.3  2019)
79 Avengers: Endgame 8.3  2019)
80 Mononoke-hime 8.3  1997)
81 Good Will Hunting 8.3  1997)
82 Once Upon a Time in America 8.3  1984)
83 Kimi no na wa. 8.3  2016)
84 3 Idiots 8.3  2009)
85 Singin' in the Rain 8.3  1952)
86 Tengoku to jigoku 8.3  1963)
87 Requiem for a Dream 8.3  2000)
88 Capharnaüm 8.3  2018)
89 Toy Story 3 8.3  2010)
90 Star Wars: Episode VI - Return of the Jedi 8.3  1983)
91 Idi i smotri 8.3  1985)
92 Eternal Sunshine of the Spotless Mind 8.3  2004)
93 2001: A Space Odyssey 8.3  1968)
94 Jagten 8.3  2012)
95 Reservoir Dogs 8.3  1992)
96 Lawrence of Arabia 8.2  1962)
97 Citizen Kane 8.2  1941)
98 Ikiru 8.2  1952)
99 M - Eine Stadt sucht einen Mörder 8.2  1931)
100 North by Northwest 8.2  1959)
101 The Apartment 8.2  1960)
102 Vertigo 8.2  1958)
103 Le fabuleux destin d'Amélie Poulain 8.2  2001)
104 Double Indemnity 8.2  1944)
105 A Clockwork Orange 8.2  1971)
106 Full Metal Jacket 8.2  1987)
107 Scarface 8.2  1983)
108 Hamilton 8.2  2020)
109 Incendies 8.2  2010)
110 Heat 8.2  1995)
111 Up 8.2  2009)
112 To Kill a Mockingbird 8.2  1962)
113 The Sting 8.2  1973)
114 Jodaeiye Nader az Simin 8.2  2011)
115 Metropolis 8.2  1927)
116 Die Hard 8.2  1988)
117 L.A. Confidential 8.2  1997)
118 Indiana Jones and the Last Crusade 8.2  1989)
119 Snatch 8.2  2000)
120 Ladri di biciclette 8.2  1948)
121 Taxi Driver 8.2  1976)
122 Taare Zameen Par 8.2  2007)
123 1917 8.2  2019)
124 Dangal 8.2  2016)
125 Der Untergang 8.2  2004)
126 Top Gun: Maverick 8.2  2022)
127 Per qualche dollaro in più 8.2  1965)
128 Batman Begins 8.2  2005)
129 The Kid 8.2  1921)
130 Some Like It Hot 8.2  1959)
131 The Father 8.2  2020)
132 The Wolf of Wall Street 8.2  2013)
133 All About Eve 8.2  1950)
134 Green Book 8.2  2018)
135 Judgment at Nuremberg 8.2  1961)
136 Ran 8.2  1985)
137 The Truman Show 8.2  1998)
138 Casino 8.2  1995)
139 There Will Be Blood 8.2  2007)
140 Pan's Labyrinth 8.2  2006)
141 Unforgiven 8.2  1992)
142 Shutter Island 8.2  2010)
143 The Sixth Sense 8.2  1999)
144 Jurassic Park 8.2  1993)
145 A Beautiful Mind 8.2  2001)
146 The Treasure of the Sierra Madre 8.1  1948)
147 Yôjinbô 8.1  1961)
148 Monty Python and the Holy Grail 8.1  1975)
149 No Country for Old Men 8.1  2007)
150 Kill Bill: Vol. 1 8.1  2003)
151 The Great Escape 8.1  1963)
152 Rashômon 8.1  1950)
153 The Thing 8.1  1982)
154 Finding Nemo 8.1  2003)
155 Spider-Man: No Way Home 8.1  2021)
156 The Elephant Man 8.1  1980)
157 Chinatown 8.1  1974)
158 Raging Bull 8.1  1980)
159 V for Vendetta 8.1  2005)
160 Gone with the Wind 8.1  1939)
161 Dial M for Murder 8.1  1954)
162 Hauru no ugoku shiro 8.1  2004)
163 Lock, Stock and Two Smoking Barrels 8.1  1998)
164 Inside Out 8.1  2015)
165 El secreto de sus ojos 8.1  2009)
166 Three Billboards Outside Ebbing, Missouri 8.1  2017)
167 Prisoners 8.1  2013)
168 The Bridge on the River Kwai 8.1  1957)
169 Trainspotting 8.1  1996)
170 Guardians of the Galaxy Vol. 3 8.1  2023)
171 Fargo 8.1  1996)
172 Warrior 8.1  2011)
173 Gran Torino 8.1  2008)
174 Catch Me If You Can 8.1  2002)
175 Tonari no Totoro 8.1  1988)
176 Million Dollar Baby 8.1  2004)
177 Bacheha-Ye aseman 8.1  1997)
178 Klaus 8.1  2019)
179 The Gold Rush 8.1  1925)
180 Blade Runner 8.1  1982)
181 Harry Potter and the Deathly Hallows: Part 2 8.1  2011)
182 12 Years a Slave 8.1  2013)
183 Before Sunrise 8.1  1995)
184 The Grand Budapest Hotel 8.1  2014)
185 Ben-Hur 8.1  1959)
186 Gone Girl 8.1  2014)
187 On the Waterfront 8.1  1954)
188 Barry Lyndon 8.1  1975)
189 The General 8.1  1926)
190 Smultronstället 8.1  1957)
191 In the Name of the Father 8.1  1993)
192 The Deer Hunter 8.1  1978)
193 Hacksaw Ridge 8.1  2016)
194 The Third Man 8.1  1949)
195 Le salaire de la peur 8.1  1953)
196 Salinui chueok 8.1  2003)
197 Sherlock Jr. 8.1  1924)
198 Relatos salvajes 8.1  2014)
199 Mr. Smith Goes to Washington 8.1  1939)
200 Mad Max: Fury Road 8.1  2015)
201 Mary and Max. 8.1  2009)
202 Dead Poets Society 8.1  1989)
203 How to Train Your Dragon 8.1  2010)
204 Monsters, Inc. 8.1  2001)
205 Det sjunde inseglet 8.1  1957)
206 Jaws 8.1  1975)
207 Room 8.1  2015)
208 The Big Lebowski 8.1  1998)
209 Tôkyô monogatari 8.1  1953)
210 Ford v Ferrari 8.1  2019)
211 La passion de Jeanne d'Arc 8.0  1928)
212 Hotel Rwanda 8.0  2004)
213 Ratatouille 8.0  2007)
214 Rocky 8.0  1976)
215 Platoon 8.0  1986)
216 Logan 8.0  2017)
217 Spotlight 8.0  2015)
218 The Terminator 8.0  1984)
219 Jai Bhim 8.0  2021)
220 Rush 8.0  2013)
221 Before Sunset 8.0  2004)
222 Stand by Me 8.0  1986)
223 Network 8.0  1976)
224 Into the Wild 8.0  2007)
225 The Wizard of Oz 8.0  1939)
226 The Best Years of Our Lives 8.0  1946)
227 La haine 8.0  1995)
228 The Exorcist 8.0  1973)
229 The Incredibles 8.0  2004)
230 To Be or Not to Be 8.0  1942)
231 Pirates of the Caribbean: The Curse of the Black Pearl 8.0  2003)
232 Groundhog Day 8.0  1993)
233 Babam ve Oglum 8.0  2005)
234 La battaglia di Algeri 8.0  1966)
235 The Grapes of Wrath 8.0  1940)
236 Hachi: A Dog's Tale 8.0  2009)
237 Pather Panchali 8.0  1955)
238 Ah-ga-ssi 8.0  2016)
239 Amores perros 8.0  2000)
240 Rebecca 8.0  1940)
241 Cool Hand Luke 8.0  1967)
242 The Sound of Music 8.0  1965)
243 It Happened One Night 8.0  1934)
244 Les quatre cents coups 8.0  1959)
245 Persona 8.0  1966)
246 The Iron Giant 8.0  1999)
247 The Help 8.0  2011)
248 Life of Brian 8.0  1979)
249 Aladdin 8.0  1992)
250 Dances with Wolves 8.0  1990)

In [96]:
#exporting data using pandas
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [104]:
try:
    url=requests.get('https://www.imdb.com/chart/top/?ref_=nv_mv_250')
    soup = BeautifulSoup(url.text,'html.parser')
    movies = soup.find("tbody",class_="lister-list").find_all('tr')
    movie_list ={'Rank':[],'Name':[],'Rating':[],'Year':[]}
    for movie in movies:
        rank = movie.find('td',class_='titleColumn').get_text().split('.')[0].strip()
        movie_name = movie.find('td',class_='titleColumn').a.text
        movie_rating = movie.find('td',class_='ratingColumn').strong.text
        year = movie.find('td',class_='titleColumn').span.text.replace('(',' ')
        #print(rank,movie_name,movie_rating,year.replace(')',' '))
        year=year.replace(')',' ')
        movie_list['Rank'].append(rank)
        movie_list['Name'].append(movie_name)
        movie_list['Rating'].append(movie_rating)
        movie_list['Year'].append(year)
        
except Exception as e:
    print(e)
    
df=pd.DataFrame(movie_list)
df

    Rank                      Name Rating    Year
0      1  The Shawshank Redemption    9.2   1994
1      2             The Godfather    9.2   1972
2      3           The Dark Knight    9.0   2008
3      4     The Godfather Part II    9.0   1974
4      5              12 Angry Men    9.0   1957
..   ...                       ...    ...     ...
245  246            The Iron Giant    8.0   1999
246  247                  The Help    8.0   2011
247  248             Life of Brian    8.0   1979
248  249                   Aladdin    8.0   1992
249  250        Dances with Wolves    8.0   1990

[250 rows x 4 columns]